html {
    --scarlet--: #B85042;
    --olive--: #E7E8D1;
    --teal--: #A7BEAE;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--olive--);
}

.sign-in {
    background-color: var(--scarlet--);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 800;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 1rem;
    margin-top: 3px;
}

.sign-in:hover {
  background-color: var(--olive--);
  color: black;
  scale: 1.02;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.99);
    padding: 1rem;
    color: whitesmoke;
    box-shadow: 0px 3px 5px #444;
}

.left-side {
    display: flex;
}

.title {
    margin-left: -2rem;
}

#main {
    transition: 0.5s;
  }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-right: 55px;
}

.openbtn:hover {
    background-color: #444; 
}

h1 {
    margin: 0;
    margin-left: 2rem;
    padding-top: 7px;
}

h2 {
    text-align: center;
    color: whitesmoke;
    margin: 0;
}

.sidebar {
    background-color: var(--scarlet--);
    color: whitesmoke;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--scarlet--);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 24px;
}

#top-line {
    margin-top: 30px;
}

.rounded {
    border-top: 2px solid var(--olive--);
    border-radius: 8px;
    margin-right: 8px;
    margin-left: 8px;
}

.outside {
    border-top: 3px solid var(--teal--);
}

.list-item {
    display: flex;
    justify-content: space-between;
    margin: 12px;
    padding: 4px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--olive--);
    display: block;
    transition: 0.5s;
}

.sidebar a:hover {
    color: var(--olive--);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

add-book,
.book-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding: 15px;
}

.delete-book {
    border: none;
    color: whitesmoke;
    font-size: 32px;
    text-decoration: none;
    margin-right: 8px;
}

.delete-book:hover,
.close-book:hover {
    scale: 1.1;
}

.button-box {
    display: flex;
    justify-content: space-between;
}

.button-book {
    border: none;
    border-radius: 12px;
}


.book {
    margin: 15px;
    background-color: var(--scarlet--);
    padding: 15px;
    padding-left: 30px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px #444;
    color: whitesmoke;
    min-width: 200px;
    max-width: 350px;
}

.book:hover {
    scale: 1.01;
}

.read {
    width: 100px;
    height: 30px;
    background-color: var(--teal--);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #444;
}

.read:hover {
    scale: 1.05;
}

#add-book {
    opacity: .4;
    border: none;
    border-radius: 12px;
    color: black;
    font-size: 58px;
    padding: 20px;
    margin: 20px;
    width: 80%;
    height: 80%;
    margin-left: 25px;
}

.close-form:hover {
    scale: 1.11;
    transform-origin: right;
    color: black;
    cursor: pointer;
}

.add-book-container {
    display: none;
    z-index: 1;
    background-color: var(--scarlet--);
    width: 500px;
    height: 600px;
    font-size: 19px;
    box-shadow:  0 0 5px 5px black;
    display: flex;
    margin-left: 40%;
    margin-top: 10%;
    overflow: hidden;
}

.question-container {
    margin-left: 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#add-book:hover {
    cursor: pointer;
    scale: 1.11;
}

form {
    padding: 35px;
    width: 500px;
}

.upper-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 60px;
    margin-top: -22px;
    margin-bottom: 18px;
}

.close-form {
    grid-row: 1 / 2;
    text-align: right;
    margin-top: -20px;
    margin-right: -10px;
    font-size: 32px;
    color: whitesmoke;
    text-decoration: none;
}

.form-part {
    margin: 5px;
    width: 79%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-weight: bold;
    height: 65px;
}

select,
input {
    color: black;
    background-color: var(--olive--);
    height: 20px;
    border-radius: 8px;
    text-indent: 5px;
    box-shadow: 2px 2px 2px black;
    border: none;
}

.form-title {
    text-align: center;
    margin: 0;
    margin-left: -15px;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    grid-row: 2 / 6;
    color: whitesmoke;
}

label {
    margin: 5px;
}

.required-text {
    font-size: 12px;
    margin-right: 22px;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 4px;
}

.submit {
    height: 2rem;
    width: 5rem;
    border-radius: 12px;
    background-color: var(--teal--);
    box-shadow: 2px 2px 2px black;
    border: none;
    text-indent: 0px;
}

.submit:hover {
    cursor: pointer;
    margin-top: 2px;
}

form {
    margin: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    justify-content: center;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .read {
    font-weight: normal;
    font-size: 14px;
  }